<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вита Марьенко, @ViewBag.Title</title>
    @Styles.Render("~/bundles/adminstyle")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/adminscript")
</body>
</html>
