form {
    label, input, select {
        display: inline-block;
    }

    label {
        width: 150px;
    }

    input, select {
        width: 300px;
    }
}

button {
    text-transform: none;
}