@import "skeleton.css";

$grid-total-width: 960px;
$grid-columns-per-row: 3;
$session-title-img-side: $grid-total-width/$grid-columns-per-row;

.session-title-img {
    width: $session-title-img-side;
    height: $session-title-img-side;
    float: left;
}
