body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

footer {
    text-align: center;
}

.body-content h1, .body-content h2, .body-content h3, .body-content h4 {
    font-family: 'Open Sans', serif;
    padding-left: 0;
}

.navbar-brand {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 38px;
    padding: 20px 0;
}

.navbar-nav > li > a {
    padding: 15px 10px;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    clear: both;
}

#page .image-placeholder {
    padding: 0 !important;
    margin-bottom: 1px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

[class^="col-"] img {
    width: 100%;
    clear: both;
}

.parent-dimensions {
    display: inherit;
    width: 100%;
    height: 100%;
}

.title-image {
    padding: 0;
}

    .title-image a {
        color: transparent;
    }

.hint {
    position: relative;
    bottom: 90px;
    height: 90px;
    padding: 10px;
    opacity: 1;
    background-color: transparent;
    font-size: 20px;
    color: transparent;
}

.hint-category {
    display: block;
    font-size: 14px;
}

.title-image:hover .hint {
    opacity: 0.8;
    color: white;
    background-color: black;
    -webkit-transition: background-color 0.3s, opacity 0.3s;
    transition: background-color 0.3s, opacity 0.3s;
}

    .title-image:hover .hint a {
        color: white;
    }

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 25px;
    }

    footer > * {
        clear: both;
    }

    #contactme {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 4rem;
    }

        #contactme li {
            float: left;
            height: 5.7rem;
            width: 5.7rem;
        }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right !important;
        margin: 0;
    }

    #contactme {
        position: fixed;
        float: right;
        top: 100px;
        right: 0;
        padding: 0;
        font-size: 4rem;
    }

        #contactme li {
            height: 5.7rem;
            width: 5.7rem;
        }
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .text-danger {
    color: red;
}

.image-placeholder img {
    width: 100%;
    display: none;
    border-color: transparent;
}

#indicator {
    text-align: center;
    clear: both;
}

#contactme li {
    list-style-type: none;
}

#contactme a {
    color: white;
}

#contactme #facebook {
    background: #3B5998;
}

#contactme #instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

#contactme #phone {
    background-color: #82b541;
}
