@using System.Collections.Generic;
@using site.core.DataSvc;

@model IEnumerable<GoogleDriveImage>

<script>window.pageView = true</script>

@*<section class="content">*@

    @{
        var offsetNeeded = true;
        var prevPortrait = false;
    }

    <section class="row page-view-row" id="page">
        <h2 class="col-md-8 col-md-offset-2">@ViewBag.Title</h2>

        @foreach (var item in Model)
        {
            var classString = item.Portrait ? "col-md-4" : "col-md-8";

            if (!item.Portrait)
            {
                offsetNeeded = true;
            }
            else if (item.Portrait && !prevPortrait)
            {
                offsetNeeded = true;
            }
            else if (item.Portrait && prevPortrait && !offsetNeeded)
            {
                offsetNeeded = true;
            }
            else if (item.Portrait && prevPortrait)
            {
                offsetNeeded = false;
            }

            if (offsetNeeded)
            {
                classString += " col-md-offset-2";
            }

            <div class="image-placeholder @classString" data-src="@item.Url">
                <img />
            </div>

            prevPortrait = item.Portrait;
        }

        <div id="indicator">
            <img src="~/Content/Infinity.gif" style="width: 40px" />
        </div>

    </section>

@*</section>*@
