@using System.Collections.Generic;
@using site.core.DataSvc;

@model IEnumerable<GoogleDriveImage>

@{
    var offsetNeeded = true;
    var prevPortrait = false;
}


<section class="row" id="page">
    <h1 class="col-md-8 col-md-offset-2">@ViewBag.Title</h1>

    @foreach (var item in Model)
    {
        var classString = item.Portrait ? "col-md-4" : "col-md-8";

        if (!item.Portrait)
        {
            offsetNeeded = true;
        }
        else if (item.Portrait && !prevPortrait)
        {
            offsetNeeded = true;
        }
        else if (item.Portrait && prevPortrait && !offsetNeeded)
        {
            offsetNeeded = true;
        }
        else if (item.Portrait && prevPortrait)
        {
            offsetNeeded = false;
        }

        if (offsetNeeded)
        {
            classString += " col-md-offset-2";
        }

        <div class="image-placeholder @classString" data-src="@item.Url">
            <img />
        </div>

        prevPortrait = item.Portrait;
    }

    <div id="indicator" class="col-md-12" style="text-align:center;">
        <img  src="~/Content/Infinity.gif" style="width: 40px" />
    </div>
</section>

<script>

    function downloadImages(imagePlaceholders) {
        if (!imagePlaceholders.length) {

            $('#indicator').fadeOut(1000);

            return;
        }

        var img = new Image(),
            current = imagePlaceholders.get(0);

        imagePlaceholders.splice(0, 1);

        img.onload = function () {

            var $img = $('img', current);
            $img.attr('src', img.src);
            $img.fadeIn(300);
            downloadImages(imagePlaceholders);
        };
        img.src = current.dataset.src;
    }

    downloadImages($('.image-placeholder'));

</script>
